/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: var(--red);
  --heading-color: var(--violet);
  --button-color: var(--red);
  --title-decor-color: var(--background-Blue);
  --background-title-decor: var(--red);
  --background-color: var(--background-Blue);
  --decoration-color: var(--red);
  --icon-color: var(--red);
  --background-image: url(../images/cover-image-dark.png);
  --button-color-opacity: var(--red-opacity);
  --background-main: var(--background-Blue);
  --text-main: var(--text-pink);
}