/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --button-color: #353430;
  --title-decor-color: #353430;
  --background-title-decor: #FF8DCB;
  --background-color: #FFF1F7;
  --decoration-color: #353430;
  --button-color-opacity: #32312D66;
  --background-main: #FFF1F7;
  --text-main: #353430;
  --icon__text: hidden;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) { 
  :root {
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --button-color: #353430;
  --title-decor-color: #353430;
  --background-title-decor: #FF8DCB;
  --background-color: #FFF1F7;
  --decoration-color: #353430;
  --button-color-opacity: #32312D66;
  --background-main: #FFF1F7;
  --text-main: #353430;
  --icon__text: hidden;
  --background-image: url(../images/cover-image-light.png);
}
}