/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
 --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --button-color: #FF0070;
  --title-decor-color: #000028;
  --background-title-decor: #FF0070;
  --background-color: #000028;
  --decoration-color: #FF0070;
  --icon-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --button-color-opacity: #FF007066;
  --background-main: #000028;
  --text-main: #F1B2CE;
}